[package]
name = "rustic_core"
version = "0.1.2"
authors = ["Alexander Weiss"]
categories = [
  "Algorithms",
  "Compression",
  "Cryptography",
  "Data structures",
  "Filesystem",
]
documentation = "https://docs.rs/rustic_core"
edition = "2021"
homepage = "https://rustic.cli.rs/"
include = ["src/**/*", "LICENSE-*", "README.md"]
keywords = ["backup", "restic", "deduplication", "encryption", "library"]
license = "Apache-2.0 OR MIT"
publish = true
readme = "README.md"
repository = "https://github.com/rustic-rs/rustic_core"
resolver = "2"
rust-version = { workspace = true }
description = """
rustic_core - library for fast, encrypted, deduplicated backups that powers rustic-rs
"""

[lib]
path = "src/lib.rs"
name = "rustic_core"
test = true
doctest = true
bench = true
doc = true
harness = true
edition = "2021"

[features]
default = []
cli = ["merge", "clap"]
merge = ["dep:merge"]
clap = ["dep:clap"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--document-private-items", "--generate-link-to-definition"]

[dependencies]
# errors
displaydoc = "0.2.4"
thiserror = "1.0.56"

# macros
derivative = "2.2.0"
derive_more = "0.99.17"
derive_setters = "0.1.6"

# logging
log = "0.4.20"

# parallelize
crossbeam-channel = "0.5.11"
pariter = "0.5.1"
rayon = "1.8.0"

# crypto
aes256ctr_poly1305aes = "0.2.0"
rand = "0.8.5"
scrypt = { version = "0.11.0", default-features = false }

# serialization / packing
binrw = "0.13.3"
hex = { version = "0.4.3", features = ["serde"] }
integer-sqrt = "0.1.5"
serde = { version = "1.0.195" }
serde-aux = "4.4.0"
serde_derive = "1.0.195"
serde_json = "1.0.111"
serde_with = { version = "3.4.0", features = ["base64"] }

# local source/destination
cached = { version = "0.47.0", default-features = false, features = ["proc_macro"] }
dunce = "1.0.4"
filetime = "0.2.23"
ignore = "0.4.22"
nix = { version = "0.27.1", default-features = false, features = ["user", "fs"] }
path-dedot = "3.1.1"
shell-words = "1.1.0"
walkdir = "2.4.0"

# cache
cachedir = "0.3.1"
dirs = "5.0.1"

# cli support
clap = { version = "4.4.14", optional = true, features = ["derive", "env", "wrap_help"] }
merge = { version = "0.1.0", optional = true }

# other dependencies
anyhow = "1.0.79"
bytes = "1.5.0"
bytesize = "1.3.0"
chrono = { version = "0.4.31", default-features = false, features = ["clock", "serde"] }
enum-map = "2.7.3"
enum-map-derive = "0.17.0"
gethostname = "0.4.3"
humantime = "2.1.0"
itertools = "0.12.0"
zstd = "0.13.0"

[target.'cfg(not(windows))'.dependencies]
sha2 = { version = "0.10", features = ["asm"] }

[target.'cfg(all(windows, not(target_env="gnu")))'.dependencies]
# unfortunately, the asm extensions do not build on MSVC, see https://github.com/RustCrypto/asm-hashes/issues/17
sha2 = "0.10"

[target.'cfg(all(windows, target_env="gnu"))'.dependencies]
sha2 = { version = "0.10", features = ["asm"] }

[target.'cfg(not(any(windows, target_os="openbsd")))'.dependencies]
# for local source/destination
xattr = "1"

[dev-dependencies]
expect-test = "1.4.1"
pretty_assertions = "1.4.0"
public-api = "0.33.1"
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"
rstest = "0.18.2"
rustdoc-json = "0.8.8"
# We need to have rustic_backend here, because the doc-tests in lib.rs of rustic_core
rustic_backend = { workspace = true }
rustup-toolchain = "0.1.6"
simplelog = "0.12.1"
tempfile = "3.9.0"
