name: Test Coverage

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    paths:
      - '**.rs'
      - '**.snap'
      - '**.yml'
jobs:
  test:
    name: Generate Coverage Report
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install cargo-hack
        uses: taiki-e/install-action@278aeeb6e331c1bd610bffe45862e09452854b1a # v2
        with:
          tool: cargo-tarpaulin

      # We run the coverage report on the workspace, but we configured in codecov to only look at parts of the workspace essentially
      # 
      # This is because we have a workspace with multiple crates, and we want to generate coverage for all of them, but we only want to
      # report the coverage of rustic_backend and rustic_core crates (currently) as this is where the main logic is
      - name: Generate code coverage
        env: 
          RUST_BACKTRACE: "0"
        run: |
          cargo tarpaulin --verbose --all-features --workspace --timeout 120 --out xml
      
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: rustic-rs/rustic_core