name: Test Coverage

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    paths:
      - '**.rs'
      - '**.snap'
      - '**.yml'
jobs:
  test:
    name: Generate Coverage Report
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Install cargo-hack
        uses: taiki-e/install-action@4abee32ddd6d3482e57ba21814317997e6268efe # v2
        with:
          tool: cargo-tarpaulin

      # We run the coverage report on the workspace, but we configured in codecov to only look at parts of the workspace essentially
      # 
      # This is because we have a workspace with multiple crates, and we want to generate coverage for all of them, but we only want to
      # report the coverage of rustic_backend and rustic_core crates (currently) as this is where the main logic is
      - name: Generate code coverage
        run: |
          cargo tarpaulin --verbose --all-features --workspace --timeout 120 --out xml
      
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@54bcd8715eee62d40e33596ef5e8f0f48dbbccab # v4
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
            slug: rustic-rs/rustic_core