name: Cross CI (light)

on:
  pull_request:

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  AWS_LC_SYS_PREBUILT_NASM: 1

jobs:
  cross-check:
    # Only run if the commit doesn't come from a merged PR, we assume CI is running in the PR as well
    # so we don't want to have runs double up
    if: github.event.pull_request.merged == false
    name: Cross checking ${{ matrix.job.target }}
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        rust: [stable, beta]
        job:
          - os: windows-latest
            os-name: windows
            target: x86_64-pc-windows-msvc
            architecture: x86_64
            use-cross: false
          - os: windows-latest
            os-name: windows
            target: x86_64-pc-windows-gnu
            architecture: x86_64
            use-cross: false
          - os: macos-13
            os-name: macos
            target: x86_64-apple-darwin
            architecture: x86_64
            use-cross: false
          - os: macos-latest
            os-name: macos
            target: aarch64-apple-darwin
            architecture: arm64
            use-cross: false
          - os: ubuntu-latest
            os-name: linux
            target: x86_64-unknown-linux-gnu
            architecture: x86_64
            use-cross: false
          - os: ubuntu-latest
            os-name: linux
            target: x86_64-unknown-linux-musl
            architecture: x86_64
            use-cross: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Run Cross-CI action
        uses: rustic-rs/cross-ci-action@main
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.job.target }}
          use-cross: ${{ matrix.job.use-cross }}
          project-cache-key: "rustic_core"

  result:
    # Only run if the commit doesn't come from a merged PR, we assume CI is running in the PR as well
    # so we don't want to have runs double up
    if: github.event.pull_request.merged == false
    name: Result (Cross-CI)
    runs-on: ubuntu-latest
    needs: cross-check
    steps:
      - name: Mark the job as successful
        run: exit 0
        if: success()
      - name: Mark the job as unsuccessful
        run: exit 1
        if: "!success()"
